.root {
  max-width: "20rem";
  min-width: "10rem";
  width: "100%";
}
.input {
  border-radius: 3;
  border-color: transparent;
  color: "black";
  font-size: "11px";
  outline: "none";
  /* @mixin focus-within {
    outline: "none";
  }
  @mixin focus {
    outline: "none"; 
  } */
}
.icon {
  background: "transparent";
}
