.root {
  @apply w-full min-h-screen;
}
.sidebarMain {
  @apply min-h-screen p-4 pr-0;
  max-width: 250px;
}
.sidebarOnFull {
  @apply w-full h-full transform-gpu transition-transform border border-r;
  &[data-open="true"] {
    @apply hidden;
  }
  &[data-open="false"] {
    @apply w-full h-full block max-[768px]:hidden;
  }
  min-width: 230px;
}
.sidebarOnSmall {
  @apply w-full h-full flex flex-col items-center  transform-gpu transition-transform gap-4;
  &[data-open="true"] {
    @apply flex;
  }
  &[data-open="false"] {
    @apply w-full h-full hidden max-[768px]:flex;
  }
  min-width: 50px;
}
.main {
  @apply w-full h-full flex flex-col p-4;
}
.mainOutlet{

  @apply w-full h-full mt-2;
}