.sidebarMain {
  @apply min-h-screen border-r;
  max-width: 250px;

  background-color: var(--sidebar-color-body)
}
.sidebarHeader {
  @apply items-center justify-end px-2;
  margin-bottom: var(--mantine-spacing-lg);
  min-height: 50px;
}
.sidebarOnFull {
  @apply transform-gpu transition-transform ;
  &[data-open="true"] {
    @apply hidden;
  }
  &[data-open="false"] {
    @apply block max-[768px]:hidden;
  }
  min-width: 230px;
}
.sidebarOnSmall {
  @apply w-full flex flex-col items-center  transform-gpu transition-transform gap-4;
  &[data-open="true"] {
    @apply flex;
  }
  &[data-open="false"] {
    @apply hidden max-[768px]:flex;
  }
  min-width: 50px;
}
.sidebarChildren {
  border-left: 1px solid var(--mantine-color-default-border);
}
